$primary-color: #014f43;
$txt-btn-confirm-color: white;
$secondary-color: #438278;

$red-7: #cf1322;
$red-8: #a8071a;

// Primary
$primary-100: #c7f7d3;
$primary-200: #92f0b2;
$primary-300: #58d38e;
$primary-400: #2da86f;
$primary-500: #036f48;
$primary-600: #025f47;
$primary-700: #014f43;
$primary-800: #00403c;
$primary-900: #003335;

// Secondary
$secondary-000: #fefefe;
$secondary-100: #f8f8f8;
$secondary-200: #efefef;
$secondary-300: #dcdddf;
$secondary-400: #acb6be;
$secondary-500: #232f30;
$secondary-600: #232f30;
$secondary-700: #091412;

// Light
$light-100: #fafafa;
$light-200: #e3ebea;
$light-300: #c7d8d5;
$light-400: #aac4c0;
$light-500: #8eb1ab;
$light-600: #729d97;
$light-700: #568a82;
$light-800: #39766d;
$light-900: #1d6358;

// Dark
$dark-800: #054239;
$dark-700: #073c34;
$dark-600: #09362f;
$dark-500: #0b2f29;
$dark-400: #0d2924;
$dark-300: #0f231f;
$dark-200: #111c1a;
$dark-100: #131615;
